/* Filename: src/components/CreateTaskList/CreateTaskList.css */

.create-tasklist
{
	display: flex;
	gap: 8px;
	align-items: center;
}

/* Button Styling */
.create-tasklist button {
	text-transform: none;
	font-weight: 500;
	border-radius: 8px;
    padding-inline: 14px;
}

:root[data-theme="dark"] .create-tasklist input {
	color: inherit;
}